@{
    ViewBag.Title = "ارسال فایل";
}

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm(MVC.Admin.ShopProduct.ActionNames.AddImage, MVC.Admin.ShopProduct.Name, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="productId" value="@ViewBag.ProductId" />
            <div class="col-md-12">
                <input id="img" name="files" multiple="true" type="file" accept="image/*" />
            </div>

        }
    </div>
</div>


