@{
    Layout = null;
}
<!-- FOOTER -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <!-- Links -->
                <h4 class="letter-spacing-1">وبلاگ نتوتیک</h4>
                <ul class="footer-links list-unstyled">
                    <li><a href="#"> آخرین اخبار</a></li>
                    <li><a href="#"> آموزش شبکه</a></li>
                    <li><a href="#"> آموزش نتوتیک</a></li>
                    <li><a href="#"> جدیدترین های آی تی</a></li>
                    <li><a href="#"> نتوتیک در رسانه ها</a></li>
                </ul>
                <!-- /Links -->

            </div>

            <div class="col-md-3">

                <!-- Links -->
                <h4 class="letter-spacing-1">درباره نتوتیک</h4>
                <ul class="footer-links list-unstyled">
                    <li><a href="#"> نتوتیک چیست؟ </a></li>
                    <li><a href="#"> سوالات متداول</a></li>
                    <li><a href="#"> شرایط استفاده از نتوتیک</a></li>
                    <li><a href="#"> امکانات و سرویس ها</a></li>
                    <li><a href="#"> تیم اجرایی نتوتیک</a></li>
                </ul>
                <!-- /Links -->

            </div>


            <div class="col-md-3">

                <!-- Links -->
                <h4 class="letter-spacing-1">موارد استفاده از نتوتیک</h4>
                <ul class="footer-links list-unstyled">
                    <li><a href="#"> شرکت های دارای شبکه داخلی</a></li>
                    <li><a href="#"> دانشگاه ها و موسسات آموزشی</a></li>
                    <li><a href="#"> مجتمع های مسکونی و خوابگاه ها</a></li>
                    <li><a href="#"> رستوران ها و استراحتگاه ها</a></li>
                    <li><a href="#"> سازمان های نظامی و امنیتی</a></li>
                </ul>
                <!-- /Links -->

            </div>

        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <ul class="list-inline pull-left inline-links mobile-block nomargin">
                <li><a href="@Url.Action(MVC.Home.Index())"> خــانه </a></li>
                <li><a href="@Url.Action(MVC.Blog.Index())"> بلاگ </a></li>
                <li><a href="@Url.Action(MVC.ContactUs.Index())"> ارتباط با ما</a></li>
            </ul>
            <span class="pull-right">
                © تمامی حقوق مادی و معنوی این وب سایت متعلق به شرکت داده نگار مهرگان آریا می باشد.
            </span>
        </div>
    </div>
</footer>
<!-- /FOOTER -->
