@using Netotik.Common.Controller
@{
    var IsIr = CultureHelper.GetDefaultCulture() == CultureHelper.GetCurrentCulture() ? true : false;
    var user = Html.CurrentUser();
}
<!-- Top Bar -->
<div id="topBar">
    <div class="container">

        <!-- right -->
        <ul class="top-links list-inline">
            @if (user != null)
            {
                if (user.UserType == Netotik.Domain.Entity.UserType.UserAdmin)
                {
                    <li>

                        <a href="@Url.Action(MVC.Admin.Home.Index())">
                            پنل مدیریت
                        </a>
                    </li>
                }
                if (user.UserType == Netotik.Domain.Entity.UserType.UserReseller)
                {
                    <li>
                        <a href="@Url.Action(MVC.Reseller.Home.Index())">
                            پنل نمایندگی
                        </a>
                    </li>
                }
                if (user.UserType == Netotik.Domain.Entity.UserType.UserCompany)
                {
                    <li>
                        <a href="@Url.Action(MVC.Company.Home.Index())">
                            پنل کاربری
                        </a>
                    </li>
                }
            }
        </ul>

        <!-- left -->
        <ul class="top-links list-inline pull-right">

            <li>
                @Html.Action(MVC.Home.LanguageSelector())
            </li>

        </ul>

    </div>
</div>
<!-- /Top Bar -->
