@using ZagrosServices.Common
@{
    OperationStatus op = TempData["OS"] as OperationStatus;

    string alertClass = "";
    if (op != null)
    {
        switch (op.Color)
        {
            case MessageColor.Danger:
                alertClass = "alert alert-danger alert-block fade in";
                break;
            case MessageColor.Warning:
                alertClass = "alert alert-warning alert-block fade in";
                break;
            case MessageColor.Success:
                alertClass = "alert alert-success alert-block fade in";
                break;
            case MessageColor.Info:
                alertClass = "alert alert-info alert-block fade in";
                break;
        }
    }

}
@if (op != null)
{

    <div class="@alertClass" dir="rtl">
        @if (op.Status)
        {
            <i class=" fa fa-check-circle"></i>
        }
        else
        {
            <i class="fa fa-times"></i>
        }
        @op.Message
    </div>
}