
@{
    Layout = null;
}


<div class="col-xs-12 col-md-9">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"> پیامک های ارسالی 10 روز گذشته</h4>
            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-body collapse in">
            <div class="card-block">
                <canvas id="sms-chart" height="400"></canvas>
            </div>
        </div>
    </div>
</div>
