@model List<Netotik.Domain.Entity.Advertise>

@{
    Layout = null;
}

<div id="gridlist">
    @if (!Model.Any())
    {
        <div class="gradeX odd">
            هیچ بنری در سیستم ثبت نشده..
        </div>
    }
    else
    {
        <table class="table table-hover table-advance" style="margin:10px auto;">
            @foreach (var item in Model)
            {
                <tr>
                    <td >
                        <img style="width:230px;height:120px;" class="thumbnail" src="@Url.Content(Path.Combine(Netotik.Web.Extension.FileManager._imagesAdvertisePath, item.Picture.FileName))?w=230&120" />
                        
                    </td>
                    <td>

                    <td>
                        @if (!string.IsNullOrWhiteSpace(item.Url))
                        {
                            <label class="alert alert-success">
                                url : @item.Url
                            </label>
                        }
                    </td>
                    <td>
                        <a href="@Url.Action(MVC.Admin.Advertise.ActionNames.Edit, new { id = item.Id })" class="btn btn-primary btn-xs "><i class="icon-pencil"></i></a>
                        <a href="@Url.Action(MVC.Admin.Advertise.ActionNames.Remove, new { id = item.Id })" class="btn btn-danger btn-xs "><i class="icon-trash"></i></a>
                    </td>
                </tr>
                
            }
        </table>
    }
</div>
