@model Netotik.Domain.Entity.DeliveryDate
@{
    ViewBag.Title = "مدت تحویل : "+Model.Name;
}

<div class="col-lg-12" id="ContentPage">

    <section class="panel">
        <header class="panel-heading tab-bg-dark-navy-blue ">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#profile"><i class="icon-2x icon-time"></i> مدت تحویل</a>
                </li>
            </ul>
        </header>
        <div class="panel-body">
            <div class="tab-content">
                <div id="profile" class="tab-pane active form-horizontal">


                    @Html.DisplayFor(model => model.Name)
                    @Html.DisplayFor(model => model.DisplayOrder)
                </div>
                @*<div id="login" class="tab-pane">
                  

                </div>*@
            </div>
        </div>
    </section>
</div>

    