@model Netotik.ViewModels.CMS.Link.LinkModel
@{
    Layout = null;
}

<div class="tabs-container">

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#requiredInfo" data-toggle="tab">
                <i class="fa fa-archive"></i>
                مشخصات
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="requiredInfo">
            <div class="panel-body">
                <fieldset>
                    @Html.EditorFor(model => model.Text)
                    @Html.EditorFor(model => model.Url)
                    @Html.EditorFor(model => model.Order)
                </fieldset>

            </div>
        </div>
    </div>
</div>
