<table class="table table-striped table-bordered table-hover " id="grid">
    <thead>
        <tr>
            <th width="5%">#</th>
            <th width="25%">@Captions.Name</th>
            <th width="55%">@Captions.Description</th>
            <th width="15%"></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>