@model IList<Netotik.Domain.Entity.File>

<div class="attachment">

    @foreach (var item in Model)
    {
        <div class="file-box">
            <div class="file">
                <a href="#">
                    <span class="corner"></span>
                    <div class="icon">
                        <i class="fa fa-file"></i>
                    </div>
                    <div class="file-name">
                        @item.OrginalName
                    </div>
                </a>
            </div>
        </div>
    }

    <div class="file-box">
        <div class="file">
            <a href="#">
                <span class="corner"></span>
                <div class="image">
                    <img src="img/p1.jpg" class="img-responsive" alt="image">
                </div>
                <div class="file-name">
                    Italy street.jpg
                    <br>
                    <small>Added: Jan 6, 2014</small>
                </div>
            </a>
        </div>
    </div>
    <div class="file-box">
        <div class="file">
            <a href="#">
                <span class="corner"></span>
                <div class="image">
                    <img src="img/p2.jpg" class="img-responsive" alt="image">
                </div>
                <div class="file-name">
                    My feel.png
                    <br>
                    <small>Added: Jan 7, 2014</small>
                </div>
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>