<section>
    <div class="col-xl-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title center">قالب پیش فرض</h4>
            </div>
            <div class="card-body">
                <div id="carousel-example" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img src="~/Content/images/TemplatesImages/D-Login.PNG" alt="First slide">
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <span class="tags float-xs-right">
                        <span class="tag tag-pill tag-danger">رستوران</span>
                        <span class="tag tag-pill tag-danger">فست فود</span>
                        <span class="tag tag-pill tag-danger">فودکورت</span>
                    </span>
                    <p class="card-text">
                        <br/>- کاملا واکنشگرا
                        <br />- قابل سفارشی سازی
                        <br />- نصب خودکار
                        <br />- مناسب برای نمایشگر های بزرگ و کوچک
                    </p>
                </div>
            </div>
            <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
                <span class="float-xs-left">رایگان</span>
                <span class="tags float-xs-right">
                    <a href="#" class="tag tag-pill tag-primary" data-toggle="modal" data-target="#TemplateSetting">فعال کردن </a>
                    @Html.Action(MVC.MyRouter.Hotspot.LoadTemplateSetting())
                </span>
            </div>
        </div>
    </div>

</section>
<br/>
<br />

@section DownScript{
    <script>
        jQuery('input').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
            increaseArea: '20%' // optional
        });
    </script>
}