@model List<Netotik.Domain.Entity.ContentComment>
@{
    Layout = null;
}


@if (Model.Any())
{

    <div class="single0blog-coment">
        <h4 class="text-right">نظرات کاربران</h4>
        <ul>
            @foreach (var item in Model.Where(x => x.Status == Netotik.ViewModels.CommentStatus.Accepted).OrderByDescending(x=>x.CreateDate))
            {
                <li>
                    <div class="coment-image">
                        <a href="#"><img src="img/blog/user-1.jpg" alt=""></a>
                    </div>
                    <div class="comment-heading">
                        <h5><a href="#">@item.Name</a></h5>
                        | 
                        <p>@PersianDate.ConvertDate.ToFa(item.CreateDate, "ddd dd MMM yyyy ساعت mm:hh")</p>
                    </div>
                    <div class="coment0-text">
                        <p>
                            @item.CommentText
                        </p>
                    </div>
                </li>
            }
        </ul>
    </div>
}