@{
    Layout = null;
}

<div class="bolg-side-bar">

    @Html.Action(MVC.Blog.ActionNames.SideBarCategory)

    @Html.Action(MVC.Blog.ActionNames.SideBarPopularPost)

    @Html.Action(MVC.Blog.ActionNames.SideBarTag)

</div>