@{
    Layout = null;
}

<div class="side-nav margin-bottom-60 margin-top-30">

    @Html.Action(MVC.Blog.ActionNames.SideBarCategory)
    <br />
    @Html.Action(MVC.Blog.ActionNames.SideBarPopularPost)
    <hr />
    @Html.Action(MVC.Blog.ActionNames.SideBarTag)

    <div>
        <a href="https://t.me/netotik" target="_blank">
            <img class="img-responsive" src="~/Content/PublicUI/images/telegram-banner.png" />
        </a>
    </div>

</div>




