@{
    Layout = null;
}

<div class="side-nav margin-bottom-60 margin-top-30">

    @Html.Action(MVC.Blog.ActionNames.SideBarCategory)

    @Html.Action(MVC.Blog.ActionNames.SideBarPopularPost)

    @Html.Action(MVC.Blog.ActionNames.SideBarTag)

</div>




