@model IList<Netotik.Domain.Entity.ContentTag>
@{
    Layout = null;
}
@if (Model.Any())
{
    <!-- TAGS -->
    <h3 class="hidden-xs size-16 margin-bottom-20">@Captions.Tags</h3>
    <div class="hidden-xs margin-bottom-60">
        @foreach (var item in Model)
                {
            <a class="tag" href="@Url.Action(MVC.Blog.ActionNames.Index, MVC.Blog.Name, new { tagId = item.Id,categoryId=0,page=1 })">

                <span class="txt">@item.Name</span>
                <span class="num">@item.Contents.Where(x => x.status == Netotik.Domain.Entity.ContentStatus.Accepted).Count()</span>
            </a>
        }
    </div>
} 