@model Netotik.Domain.Entity.Content

@{
    var meta = new Netotik.ViewModels.Common.Meta.MetaViewModel()
    {
        Title = string.Format("{0} | {1}", (string.IsNullOrWhiteSpace(Model.MetaTitle) ? Model.Title : Model.MetaTitle), Captions.Netotik),
        Description = (string.IsNullOrWhiteSpace(Model.MetaDescription) ? Model.BodyOverview : Model.MetaDescription),
        Keywords = (string.IsNullOrWhiteSpace(Model.MetaKeywords) ? Model.BodyOverview : Model.MetaKeywords),
        OgTitle = string.Format("{0} | {1}", (string.IsNullOrWhiteSpace(Model.MetaTitle) ? Model.Title : Model.MetaTitle), Captions.Netotik),
        OgUrl = Url.Action(MVC.Blog.Detail(Model.Id)),
        Conanical = Url.Action(MVC.Blog.Detail(Model.Id)),
        OgImage = Url.Content(Path.Combine(Netotik.Common.Controller.FilePathes._imagesContentPath, Model.PictureId.HasValue ? Model.Picture.FileName : "Default.png")),
        OgDescription = (Model.MetaDescription),
        OgSiteName = Captions.Netotik,
        OgTags = Model.ContentTages.Select(x => x.Name).ToArray(),
        OgType = "article"
    };
}


@section Meta{
    @Html.Partial(MVC.SharedPublic.Views._Meta, meta)
}

<section class="page-header page-header-md parallax parallax-3" style="background-image:url('/Content/Upload/Image/Content/@(Model.PictureId.HasValue?Model.Picture.FileName:"Background.jpg")')">
    <div class="overlay dark-5"></div>
    <div class="container">
    </div>
</section>

<!-- -->
<section>
    <div class="container">

        <div class="row">

            @if (Model.HasSideBar)
            {
                <div class="col-md-3 col-sm-3">
                    @Html.Partial(MVC.Blog.Views._SideBar)
                </div>
            }
            <div class="@(Model.HasSideBar?"col-md-9 col-sm-9":"col-md-12 col-sm-12")">

                @Html.Partial(MVC.Blog.Views._Post)

            </div>
        </div>
    </div>
</section>
