<section id="configuration">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <a href="@Url.Action(MVC.Admin.User.Create())" class="btn btn-social width-150 btn-instagram"><span class="icon-person-add font-medium-4"></span> کاربر جدید</a>
                </div>

                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        @Html.Partial(MVC.Admin.User.Views._Table)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





@section DownScript{

    <script type="text/javascript">
        $(function () {
            var table = $('#grid').dataTable({
                "order": [[1, 'asc']],
                "iDisplayLength": 10,
                "bProcessing": true,
                "bStateSave": true,
                "bServerSide": true,
                "bFilter": true,
                "aLengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                "bAutoWidth": false,
                "sAjaxSource": "@Url.Action(MVC.Admin.User.GetList())",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        "dataType": 'json',
                        "type": "POST",
                        "url": sSource,
                        "data": aoData,
                        "success": fnCallback
                    });
                },

                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [0] },
                    { "bSortable": false, "aTargets": [-1] },
                    {
                        "targets": 1,
                        "render": function (data, type, full, meta) {
                            return '<div class="media"><div class="media-left"><span class="avatar"><img src="/Content/Upload/Image/Avatar/' + full.ImageFileName + '?w=100&h=100"></span></div><div class="media-body media-middle"><a href="#" class="media-heading">' + full.Name + '</a></div></div>';
                        }
                    },
                     {
                         "targets": -1,
                         "render": function (data, type, full, meta) {
                             return '<span class="dropdown"><button id="btnSearchDrop2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-success dropdown-toggle dropdown-menu-right"><i class="icon-cog3"></i></button><span aria-labelledby="btnSearchDrop2" class="dropdown-menu mt-1 dropdown-menu-right"><a href="/Admin/User/Edit/' + full.Id + '" class="dropdown-item"><i class="icon-pen3 primary"></i> ویرایش </a><a href="/Admin/User/Delete/' + full.Id + '" class="dropdown-item"><i class="icon-trash4 danger"></i> حذف </a><a href="/Admin/User/DeActive/' + full.Id + '" class="dropdown-item"><i class="icon-stop-circle-o warning"></i> غیرفعال </a></span></span>';
                         }
                     }
                ]
                ,
                "aoColumns": [
                    { "mDataProp": "RowNumber" },
                    { "mDataProp": "Name" },
                    { "mDataProp": "Email" },
                    { "mDataProp": "PhoneNumber" },
                    { "mDataProp": "LastLoginDate" },
                    { "no": "no" }
                ],

                "oLanguage": {
                    "sUrl": "/Content/js/plugins/tables/datatable/dataTables.persian.txt"
                }
            });

        });
    </script>
}

