@model List<Netotik.Domain.Entity.Slider>

@{
    Layout = null;
}

<section id="slider" class="fullheight" style="background:url('/Content/images/earth.jpg')">
    <span class="overlay dark-3"><!-- dark overlay [0 to 9 opacity] --></span>

    <canvas id="canvas-particle" class="visible-lg" data-rgb="156,217,249"><!-- CANVAS PARTICLES --></canvas>

    <div class="display-table">
        <div class="display-table-cell vertical-align-middle">

            <div class="container text-center">

                <h1 class="nomargin wow fadeInUp" data-wow-delay="0.4s">
                    <span class="text-blue">@Captions.Netotik </span>
                    <!--
                        TEXT ROTATOR
                        data-animation="fade|flip|flipCube|flipUp|spin"
                    -->
                    @*<span class="rotate " data-animation="fade" data-speed="1500">
                       @Captions.Management,@Captions.Control
                    </span>*@

                </h1>

                <p class="lead font-lato size-30 wow fadeInUp" data-wow-delay="0.7s">
                    @Captions.NetotikDescribtion
                </p>
             @*   <a class="btn btn-default btn-lg" href="#">@Captions.WatchIntroduceNetotikVideo</a>*@
            </div>
        </div>
    </div>
</section>

