@model List<Netotik.Domain.Entity.Slider>

@{
    Layout = null;
}

<section id="slider" class="fullheight" style="background:url('/Content/images/3.jpg')">
    <span class="overlay dark-2"><!-- dark overlay [0 to 9 opacity] --></span>

    <canvas id="canvas-particle" data-rgb="156,217,249"><!-- CANVAS PARTICLES --></canvas>

    <div class="display-table">
        <div class="display-table-cell vertical-align-middle">

            <div class="container text-center">

                <h1 class="nomargin wow fadeInUp" data-wow-delay="0.4s">
                    <span class="text-blue">نتوتیک</span>
                    <!--
                        TEXT ROTATOR
                        data-animation="fade|flip|flipCube|flipUp|spin"
                    -->
                    <span class="rotate " data-animation="fade" data-speed="1500">
                       مدیریت, کنترل,اینترنت
                    </span>

                </h1>

                <p class="lead font-lato size-30 wow fadeInUp" data-wow-delay="0.7s">
                    سامانه مدیریت اینترنت و شبکه های داخلی مورد استفاده در سازمان های کوچک و بزرگ
                </p>

                <a class="btn btn-default btn-lg" href="#">تماشای ویدئو معرفی</a>

            </div>

        </div>
    </div>

</section>

