@if (ViewBag.Avatar != null)
{
    <div class="form-group">
            <div class=" imageloadedContainer teaser lazyload">
                <img src="@Url.Content(ViewBag.Avatar)?w=150&h=150&mode=crop" class=" img-thumbnail lazyload imgMargin" width="150" height="150">
            </div>
    </div>
}

