@using Netotik.Domain.Entity
@model IEnumerable<ImageGalleryItem>

@foreach (var item in Model)
{
    <div class="col-md-6 imageloadedContainer teaser lazyload">
        <img src="@Url.Content("~/Uploads/"+item.Picture.FileName)?w=150&h=130&mode=crop"
             id="@Url.Content("~/Uploads/"+item.Picture.FileName)"
             class=" img-thumbnail lazyload imgMargin" width="150" height="130">
    </div>

}

<script>
    window.lazySizesConfig = {
        addClasses: true
    };
    Public.Routin();
</script>