@{
    ViewBag.Title = "لینک ثبت نام";
}
<div class="col-md-12 col-sm-12">
    <div class="card box-shadow-0 border-success">
        <div class="card-header card-head-inverse bg-success">
            <h4 class="card-title">ثبت نام کاربران</h4>
            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-body collapse in">
            <div class="card-block">
                <p>
                    در صورت فعال سازی این قابلیت ، با وارد شدن کاربران به صفحه زیر می توانند ثبت نام خود را انجام دهند.
                    این ثبت نام را میتوانید سفارشی سازی کنید.
                    مثلا فیلد های مورد نیاز جهت ثبت نام را کم یا زیاد کنید یا اجباری و اختیاری کنید یا اینکه بسته رایگان یا پولی ارائه دهید که با پرداخت اکانت کاربر ساخته و فعال شود
                    یا اینکه با دریافت شماره موبایل کلمه عبور برای کاربر ارسال شود.یا از طریق ایمیل ارسال شود.
                </p>
                <a href="https://netotik.com/fa/register/userman/@ViewBag.ResellerCode" class="btn btn-float-lg btn-outline-pink btn-social" style="width:100%;"><i class="icon-world" style="padding-top:7px;"></i><span>https://netotik.com/fa/register/userman/@ViewBag.ResellerCode</span></a>
            </div>
        </div>
    </div>
</div>