@model Netotik.ViewModels.User.RegisterLoginModel
@using CaptchaMvc.HtmlHelpers

<div class="page-content">
    <div class="checkout-content-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h4 class="cart-title">تکمیل خرید</h4>
                </div>
                <div class="checkout-content">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
                            <div class="panel sauget-accordion">
                                <div id="headingOne" role="tab" class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="@Url.Action(MVC.Account.ActionNames.Login,MVC.Account.Name)" data-parent="#accordion" class="">
                                            <span>1</span> برای تکمیل فرایند خرید ابتدا وارد حساب خود شوید
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
