@model MvcPaging.IPagedList<Netotik.ViewModels.Shop.Order.TableOrderModel>
@{
    ViewBag.Title = "مدیریت فاکتورها";
    var roles = Html.CurrentUserPermissions();

    var canAdd = roles.Any(x => x == Netotik.ViewModels.Identity.Security.AssignableToRolePermissions.CanCreateProduct);
}

<div class="col-lg-12" id="ContentPage">
    <section class="panel">
        <header class="panel-heading">
            @ViewBag.Title

        </header>
        <div class="panel-body">
            <form class="form-inline" role="form" action="@Url.Action(MVC.Admin.Order.ActionNames.Index,MVC.Admin.Order.Name)">
                <div class="input-group m-bot15">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">جستجو</button>
                    </span>
                    <input type="text" class="form-control" name="Search" placeholder="نام ..">
                </div>
            </form>

        </div>

        @Html.Partial("_Table", Model)

    </section>
</div>
