<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false"/>
  </configSections>
  <!--App settings-->
  <connectionStrings>
    <add name="NetotikDBContext" connectionString="Data Source=.;Initial Catalog=Netotik;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <!--<add name="NetotikDBContext" connectionString="Data Source=136.243.40.154,1435;Initial Catalog=netotikDB;Persist Security Info=True;User ID=netotikDB;Password=Lks4t1#9;MultipleActiveresultsets=true" providerName="system.data.sqlclient" />-->
  </connectionStrings>
  <resizer>
    <!-- Unless you (a) use Integrated mode, or (b) map all reqeusts to ASP.NET, 
           you'll need to add .ashx to your image URLs: image.jpg.ashx?width=200&height=20 
           Optional - this is the default setting -->
    <pipeline fakeExtensions=".ashx" defaultCommands="autorotate.default=true"/>
    <plugins>
      <add name="DiskCache"/>
      <add name="PrettyGifs"/>
    </plugins>
  </resizer>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="EncryptionKey" value="as@143I%تبjhjاsasd"/>
    <!--<add key="MvcMailer.BaseURL" value="" />-->
  </appSettings>
  <system.web>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1"/>
    <customErrors mode="Off" defaultRedirect="/error/error">
      <error statusCode="400" redirect="/error/badrequest"/>
      <error statusCode="403" redirect="/error/forbidden"/>
      <error statusCode="401" redirect="/error/forbidden"/>
      <error statusCode="404" redirect="/error/notfound"/>
      <error statusCode="414" redirect="/error/urltoolong"/>
      <error statusCode="503" redirect="/error/serviceunavailable"/>
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="/Account/Login" protection="All" timeout="45" name=".Netotik" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="/Home/Index" cookieless="UseDeviceProfile" enableCrossAppRedirects="false"/>
    </authentication>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" enableVersionHeader="false" maxRequestLength="2097151" executionTimeout="1200"/>
    <globalization enableClientBasedCulture="true" culture="auto" uiCulture="auto"/>
    <httpModules>
      <!-- This is for IIS7/8 Classic and Cassini-->
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
      <add name="StatModule" type="Netotik.Web.Infrastructure.Modules.StatModule"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Remove WWW" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*"/>
          <conditions>
            <add input="{CACHE_URL}" pattern="*://www.*"/>
          </conditions>
          <action type="Redirect" url="{C:1}://{C:2}" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>
    <!--remote response headers-->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <clear/>
      </customHeaders>
    </httpProtocol>
    <!--security-->
    <!--<urlCompression doStaticCompression="true" doDynamicCompression="true" />-->
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="StatModule" type="Netotik.Web.Infrastructure.Modules.StatModule"/>
      <!-- This is for IIS7/8 Integrated mode -->
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
      <!--<remove name="Session" />-->
      <remove name="FormsAuthentication"/>
      <remove name="WindowsAuthentication"/>
      <remove name="PassportAuthentication"/>
      <remove name="RoleManager"/>
      <remove name="UrlAuthorization"/>
      <remove name="FileAuthorization"/>
      <remove name="AnonymousIdentification"/>
      <remove name="Profile"/>
      <remove name="ErrorHandlerModule"/>
      <remove name="ServiceModel"/>
    </modules>
    <handlers>
      <add name="ASPNET" path="*" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <staticContent>
      <!--<clientCache httpExpires="Sun, 29 Mar 2020 00:00:00 GMT" cacheControlMode="UseExpires"/>-->
      <!-- MIME types - Add some missing MIME types and also modify others to be more up to date. -->
      <!-- .js - JavaScript files are served as application/x-javascript in IIS 7.5 and below. Use the correct MIME type of application/javascript. See http://stackoverflow.com/questions/9664282/difference-between-application-x-javascript-and-text-javascript-content-types. -->
      <remove fileExtension=".js"/>
      <mimeMap fileExtension=".js" mimeType="application/javascript"/>
      <!-- .json - IIS does not have a JSON MIME type by default. -->
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <!-- .rss - IIS does not have a RSS MIME type by default. Add the optional charset to the RSS MIME type. See http://www.rssboard.org/rss-mime-type-application.txt. -->
      <remove fileExtension=".rss"/>
      <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8"/>
      <!-- .html - Add the optional charset to the HTML MIME type. -->
      <remove fileExtension=".html"/>
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8"/>
      <!-- .xml - Add the optional charset to the XML MIME type. -->
      <remove fileExtension=".xml"/>
      <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8"/>
      <!-- HTML5 Video - IIS 7.5 and below does not have these MIME types by default. -->
      <remove fileExtension=".mp4"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <remove fileExtension=".m4v"/>
      <mimeMap fileExtension=".m4v" mimeType="video/m4v"/>
      <remove fileExtension=".ogg"/>
      <mimeMap fileExtension=".ogg" mimeType="video/ogg"/>
      <remove fileExtension=".ogv"/>
      <mimeMap fileExtension=".ogv" mimeType="video/ogg"/>
      <remove fileExtension=".webm"/>
      <mimeMap fileExtension=".webm" mimeType="video/webm"/>
      <!-- HTML5 Audio - IIS 7.5 and below does not have these MIME types by default. -->
      <remove fileExtension=".oga"/>
      <mimeMap fileExtension=".oga" mimeType="audio/ogg"/>
      <remove fileExtension=".spx"/>
      <mimeMap fileExtension=".spx" mimeType="audio/ogg"/>
      <!-- .svgz - IIS 7.5 does not have a compressed SVG MIME type by default. -->
      <remove fileExtension=".svgz"/>
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml"/>
      <!-- Web Fonts -->
      <!-- .eot - Served as application/octet-stream. Use the correct MIME type of application/vnd.ms-fontobject. -->
      <remove fileExtension=".eot"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <!-- .ttf - Served as application/octet-stream. Use the correct MIME type of application/application/x-font-ttf. -->
      <remove fileExtension=".ttf"/>
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf"/>
      <!-- .ttc - IIS does not have a TTC MIME type by default. -->
      <remove fileExtension=".ttc"/>
      <mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf"/>
      <!-- .otf - IIS does not have a OTF MIME type by default. -->
      <remove fileExtension=".otf"/>
      <mimeMap fileExtension=".otf" mimeType="font/otf"/>
      <!-- .woff - Served as font/woff. Use the correct MIME type of application/font-woff. -->
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <!-- .woff2 - IIS does not have a WOFF2 MIME type by default. -->
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
      <!-- .webp - IIS does not have a WEBP MIME type by default. -->
      <remove fileExtension=".webp"/>
      <mimeMap fileExtension=".webp" mimeType="image/webp"/>
      <!-- .appcache - IIS does not have a appcache MIME type by default. -->
      <remove fileExtension=".appcache"/>
      <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest"/>
      <!-- .manifest - IIS does not have a manifest MIME type by default. -->
      <remove fileExtension=".manifest"/>
      <mimeMap fileExtension=".manifest" mimeType="text/cache-manifest"/>
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework.MappingAPI" publicKeyToken="7ee2e825d201459e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.9" newVersion="6.1.0.9"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp from="noreply@netotik.com" deliveryMethod="Network">
        <network enableSsl="false" host="mail.netotik.com" port="25" userName="noreply@netotik.com" password="Rwf*m464"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PaymentGatewayImplementationServiceBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="PaymentGatewayImplementationServiceBinding1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.zarinpal.com/pg/services/WebGate/service" binding="basicHttpBinding" bindingConfiguration="PaymentGatewayImplementationServiceBinding" contract="ZarinPalService.PaymentGatewayImplementationServicePortType" name="PaymentGatewayImplementationServicePort"/>
    </client>
  </system.serviceModel>
</configuration>