
@font-face {
    font-family: 'IRANSansWeb';
    src: url('/Content/fonts/IRANSansWeb/IRANSansWeb.eot');
    src: url('/Content/fonts/IRANSansWeb/IRANSansWeb.eot?#iefix') format('embedded-opentype');
    src: local('☺'), url('/Content/fonts/IRANSansWeb/IRANSansWeb.woff') format('woff'), url('/Content/fonts/IRANSansWeb/IRANSansWeb.ttf') format('truetype'), url('/Content/fonts/IRANSansWeb/IRANSansWeb.svg#IRANSansWeb') format('svg');
    font-weight: normal;
    font-style: normal;
}

a,
body,
p,
div,
span,
label,
section,
.countTo-sm,
.countTo-md,
.countTo-lg,
.countdown,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'IRANSansWeb';
}

.ribbon-inner {
    font-family: "IRANSansWeb" !important;
}

div.mega-price-table .pricing-head small {
    font-family: 'IRANSansWeb' !important;
}

.datepicker.dropdown-menu {
    font-family: 'IRANSansWeb' !important;
}



.time_pick .time,
.time_pick .mins,
.time_pick .meridian,
.mfp-close,
.price-clean {
    font-family: 'IRANSansWeb' !important;
}

.daterangepicker .calendar th, .daterangepicker .calendar td {
    font-family: 'IRANSansWeb' !important;
}

.flex-caption {
    font-family: 'IRANSansWeb' !important;
}

.switch > .switch-label {
    font-family: 'IRANSansWeb' !important;
}













/** layout.css 
 *********************** **/


small {
    font-family: 'IRANSansWeb' !important;
}

/* fonts */
.font-open-sans {
    font-family: 'IRANSansWeb' !important;
}

.timeline .timeline-entry,
.font-lato {
    font-family: 'IRANSansWeb' !important;
}

.font-raleway {
    font-family: 'IRANSansWeb' !important;
}
/* elastic slider */
.ei-title h3 {
    font-family: 'IRANSansWeb' !important;
}

.maintenance,
.timeline .timeline-entry > span,
#footer ul.footer-list li small,
.comments small,
h1.blog-post-title,
.blog-post-item h2 {
    font-family: 'IRANSansWeb' !important;
}




.dataTables_filter {
    float: right !important;
    text-align: right !important;
}





.blockOverlay {
    z-index: 1029 !important;
}




.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.hidden {
    display: none !important;
}

.affix {
    position: fixed;
}

@-ms-viewport {
    width: device-width;
}

.visible-lg, .visible-md, .visible-sm, .visible-xs {
    display: none !important;
}

.visible-lg-block, .visible-lg-inline, .visible-lg-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-xs-block, .visible-xs-inline, .visible-xs-inline-block {
    display: none !important;
}

@media (max-width:767px) {
    .visible-xs {
        display: block !important;
    }

    table.visible-xs {
        display: table !important;
    }

    tr.visible-xs {
        display: table-row !important;
    }

    td.visible-xs, th.visible-xs {
        display: table-cell !important;
    }
}

@media (max-width:767px) {
    .visible-xs-block {
        display: block !important;
    }
}

@media (max-width:767px) {
    .visible-xs-inline {
        display: inline !important;
    }
}

@media (max-width:767px) {
    .visible-xs-inline-block {
        display: inline-block !important;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm {
        display: block !important;
    }

    table.visible-sm {
        display: table !important;
    }

    tr.visible-sm {
        display: table-row !important;
    }

    td.visible-sm, th.visible-sm {
        display: table-cell !important;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm-block {
        display: block !important;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm-inline {
        display: inline !important;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm-inline-block {
        display: inline-block !important;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .visible-md {
        display: block !important;
    }

    table.visible-md {
        display: table !important;
    }

    tr.visible-md {
        display: table-row !important;
    }

    td.visible-md, th.visible-md {
        display: table-cell !important;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .visible-md-block {
        display: block !important;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .visible-md-inline {
        display: inline !important;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .visible-md-inline-block {
        display: inline-block !important;
    }
}

@media (min-width:1200px) {
    .visible-lg {
        display: block !important;
    }

    table.visible-lg {
        display: table !important;
    }

    tr.visible-lg {
        display: table-row !important;
    }

    td.visible-lg, th.visible-lg {
        display: table-cell !important;
    }
}

@media (min-width:1200px) {
    .visible-lg-block {
        display: block !important;
    }
}

@media (min-width:1200px) {
    .visible-lg-inline {
        display: inline !important;
    }
}

@media (min-width:1200px) {
    .visible-lg-inline-block {
        display: inline-block !important;
    }
}

@media (max-width:767px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none !important;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .hidden-md {
        display: none !important;
    }
}

@media (min-width:1200px) {
    .hidden-lg {
        display: none !important;
    }
}

.visible-print {
    display: none !important;
}

@media print {
    .visible-print {
        display: block !important;
    }

    table.visible-print {
        display: table !important;
    }

    tr.visible-print {
        display: table-row !important;
    }

    td.visible-print, th.visible-print {
        display: table-cell !important;
    }
}

.visible-print-block {
    display: none !important;
}

@media print {
    .visible-print-block {
        display: block !important;
    }
}

.visible-print-inline {
    display: none !important;
}

@media print {
    .visible-print-inline {
        display: inline !important;
    }
}

.visible-print-inline-block {
    display: none !important;
}

@media print {
    .visible-print-inline-block {
        display: inline-block !important;
    }
}

@media print {
    .hidden-print {
        display: none !important;
    }
}
