@model Netotik.ViewModels.Shop.ProductPanel.ProductGridModel
@using PagedList
@using PagedList.Mvc
@using Netotik.Web.Extension

@{
    Layout = null;
}


<div id="content-shop" class="categori-content">

    <div class=" row">
        <div class="col-md-12">
            @Html.PagedListPager(new StaticPagedList<Netotik.ViewModels.Shop.ProductPanel.BoxProductModel>(Model.Products, Model.Page, Model.Count, Model.Total), pageNumber => Url.Action(MVC.Product.ActionNames.Index, MVC.Product.Name, new
                                    {
                                        page = pageNumber,
                                        count = Model.Count,
                                        categoryId = Model.CategoryId,
                                        BrandId = Model.ManufacturerId

                                    }), new PagedListRenderOptions
                                    {

                                        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                                        DisplayLinkToLastPage = PagedListDisplayMode.Always,
                                        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                        DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                        MaximumPageNumbersToDisplay = 6
                                    })
        </div>

        <div class="col-md-12" style="min-height:800px;">
            @foreach (var item in Model.Products)
            {
                @Html.Partial(MVC.Shared.Views._ProductBox, item)
            }
        </div>
        <div class="col-md-12">

            @Html.PagedListPager(new StaticPagedList<Netotik.ViewModels.Shop.ProductPanel.BoxProductModel>(Model.Products, Model.Page, Model.Count, Model.Total), pageNumber => Url.Action(MVC.Product.ActionNames.Index, MVC.Product.Name, new
                                    {
                                        page = pageNumber,
                                        count = Model.Count,
                                        categoryId = Model.CategoryId,
                                        BrandId = Model.ManufacturerId

                                    }), new PagedListRenderOptions
                                    {

                                        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                                        DisplayLinkToLastPage = PagedListDisplayMode.Always,
                                        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                        DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                        MaximumPageNumbersToDisplay = 6
                                    })

        </div>
    </div>
</div>


