@model Netotik.ViewModels.Identity.UserAdmin.UserChangePasswordModel
@{
    ViewBag.Title = "تغییر گذرواژه";
}


<div class="col-lg-12" id="ContentPage">
    <section class="panel">
        <header class="panel-heading alert-info">
            @ViewBag.Title
        </header>
        <div class="panel-body">

            <div class="form">

                @using (Html.BeginForm(MVC.Admin.Home.ActionNames.ChangePassword, MVC.Admin.Home.Name, null, FormMethod.Post, htmlAttributes: new { @class = "cmxform form-horizontal tasi-form", id = "form" }))
                {
                    @Html.EditorFor(model => Model.Password)
                    @Html.EditorFor(model => Model.ConfirmPassword)

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">

                            <button class="btn btn-primary" onclick="AjaxForm.CustomSubmit(this, 'form')" data-loading-text="در حال ارسال اطلاعات">
                                @Netotik.Resources.Captions.Save
                            </button>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
</div>










