@{
    ViewBag.Title = Captions.Dashboard;
}

@section UpScript
{
    <link href="~/Content/PersianDatePicker/jquery.Bootstrap-PersianDateTimePicker.min.css" rel="stylesheet" />
}

<div class="container">

    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <div class="col-lg-4">
                    <label class="sr-only" for="exampleInput1">تاریخ و زمان</label>
                    <div class="input-group">
                        <div class="input-group-addon" data-mddatetimepicker="true" data-targetselector="#exampleInput1" data-trigger="click" data-enabletimepicker="true">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        <input id="textbox1" type="text" class="form-control" data-mddatetimepicker="true" value="۱۳۹۲/۰۱/۰۱" data-placement="right" />
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>

@section DownScript
{
    


}
