<table class="table table-striped table-bordered table-hover zero-configuration" id="grid">
    <thead>
        <tr>
            <th width="5%">#</th>
            <th width="15%">نام کاربری</th>
            <th width="15%">شماره تراکنش</th>
            <th width="15%">مبلغ فاکتور</th>
            <th width="20%">تاریخ فاکتور</th>
            <th width="20%">وضعیت فاکتور</th>
            <th width="10%"></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>