@model List<Netotik.ViewModels.Statistics.BrowserTableViewModel>


<div class="card">
    <div class="card-header no-border">
        <h4 class="card-title">مرورگرها</h4>
    </div>
    <div class="card-body">
        <div id="audience-list-scroll" class="table-responsive height-300 position-relative">
            <table class="table mb-0">
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            double CurrentNum = (double)item.BrowserViewCount * 100 / item.TottalVisits;
                            var RoundUpPercentage = Math.Ceiling(CurrentNum);
                            <tr>
                                <td>
                                    @item.BrowserName
                                    <i class="icon-@item.BrowserIcon.ToLower()" aria-hidden="true"></i>
                                </td>
                                <td width="7%">@item.BrowserViewCount</td>
                                <td width="32%" class="text-xs-center font-small-2">@RoundUpPercentage% <progress class="progress progress-sm progress-success mb-0" value="@RoundUpPercentage" max="100"></progress></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

