@model List<Netotik.ViewModels.Statistics.BrowserTableViewModel>

<div class="col-xl-6 col-lg-12">
    <div class="card" style="min-height:300px;">
        <div class="card-header no-border">
            <h4 class="card-title">به تفکیک مرورگرها</h4>
            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
        </div>
        <div class="card-body">
            <div id="audience-list-scroll" class="table-responsive height-300 position-relative ps-container ps-theme-default ps-active-y" data-ps-id="fdbd59c9-a797-78a3-bcd8-86b6ed5cc94c">
                <table class="table mb-0">
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                double CurrentNum = (double)item.BrowserViewCount * 100 / item.TottalVisits;
                                var RoundUpPercentage = Math.Ceiling(CurrentNum);
                                <tr>
                                    <td>
                                        @item.BrowserName
                                        <i class="icon-@item.BrowserIcon.ToLower()" aria-hidden="true"></i>
                                    </td>
                                    <td>@item.BrowserViewCount</td>
                                    <td class="text-xs-center font-small-2">@RoundUpPercentage% <progress class="progress progress-sm progress-success mb-0" value="@RoundUpPercentage" max="100"></progress></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
