@model List<Netotik.ViewModels.Statistics.OsTableViewModel>


<div class="card">
    <div class="card-header no-border">
        <h4 class="card-title">@Captions.OpertaingSystems</h4>
    </div>
    <div class="card-body">
        <div id="audience-list-scroll" class="table-responsive height-300 position-relative">
            <table class="table mb-0">
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            double CurrentNum = (double)item.OsViewCount * 100 / item.TottalVisits;
                            var RoundUpPercentage = Math.Ceiling(CurrentNum);

                            <tr>
                                <td>
                                    <i class="icon-@item.OsIcon.ToLower()" aria-hidden="true"></i>
                                </td>
                                <td>@item.OsName</td>
                                <td width="10%">@item.OsViewCount</td>
                                <td width="35%" class="text-xs-center font-small-2">@RoundUpPercentage% <progress class="progress progress-sm progress-success mb-0" value="@RoundUpPercentage" max="100"></progress></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
