@model List<Netotik.ViewModels.Statistics.PageViewViewModel>

<div class="col-xl-8 col-lg-12">
    <div class="card">
        <div class="card-header no-border">
            <h4 class="card-title">صفحات مشاهده شده</h4>
            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
        </div>
        <div class="card-body">
            <div id="audience-list-scroll" class="table-responsive table-striped height-300 position-relative ps-container ps-theme-default ps-active-y" data-ps-id="fdbd59c9-a797-78a3-bcd8-86b6ed5cc94c">
                <table class="table mb-0">
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td><span class="badge">@item.PageViewCount</span></td>
                                    <td><span class="referrerurl">@item.PageUrl</span></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
