@model List<Netotik.ViewModels.Statistics.PageViewViewModel>

<div class="card">
    <div class="card-header no-border">
        <h4 class="card-title">بیشترین صفحات بازدید شده</h4>
    </div>
    <div class="card-body">
        <div id="audience-list-scroll" class="table-responsive height-300 position-relative">
            <table class="table mb-0">
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            <tr dir="ltr">
                                <td width="95%"> @item.PageUrl</td>
                                <td>@item.PageViewCount</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
