@{
    Layout = MVC.Shared.Views._Layout;
}
<div class="panel panel-default">
    <div class="panel-heading">
        @Captions.ActivationAccount
    </div>
    <div class="panel-body">
        <p class="lead">
            @Captions.ConfirmEmailMessage
        </p>
    </div>
    <div class="panel-footer">
        <a href="@ViewBag.LoginPage" class="btn btn-block btn-md btn-success">@Captions.LoginToSystem</a>
    </div>
</div>


