@{
    Layout = MVC.Shared.Views._Layout;
}
<section class="flexbox-container">
    <div class="col-md-8 offset-md-2 col-xs-12">
        <div class="alert alert-icon-left alert-success alert-dismissible fade in mb-2" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <strong>@Captions.ChangePasswordSuccess</strong>
            @if (!User.Identity.IsAuthenticated)
            {
                @Html.ActionLink(Captions.LoginToUserAccount, MVC.Account.ActionNames.Login, MVC.Account.Name, null, new {})
            }

        </div>
    </div>
</section>

