@model Netotik.Domain.Entity.ContentCategory
@{
    ViewBag.Title = "موضوع: "+Model.Name;
}

<div class="col-lg-12" id="ContentPage">

    <section class="panel">
        <header class="panel-heading tab-bg-dark-navy-blue ">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#profile"> اطلاعات موضوع</a>
                </li>
            </ul>
        </header>
        <div class="panel-body">
            <div class="tab-content">
                <div id="profile" class="tab-pane active form-horizontal">
                    @Html.DisplayFor(model => model.Name)
                    @Html.DisplayFor(model => model.Description)
                    @Html.DisplayFor(model => model.showInMenu,"Bool")
                </div>
            </div>
        </div>
    </section>
</div>

    