@model IList<Netotik.Domain.Entity.Language>
@using Netotik.Domain.Entity;

@{
    var lang = Model.First(x => x.UniqueSeoCode == ViewContext.RouteData.Values["lang"].ToString());

    var _actionResult = MVC.Home.Index();

    var user = new User();

    if (Session["Client"] != null)
    {
        user = Session["Client"] as User;
        _actionResult = (user.UserType == Netotik.Domain.Entity.UserType.UserAdmin) ? MVC.Admin.Home.Index() :
    (user.UserType == Netotik.Domain.Entity.UserType.UserReseller) ? MVC.Reseller.Home.Index() :
    (user.UserType == Netotik.Domain.Entity.UserType.UserRouter) ? MVC.MyRouter.Home.Index() :
    (user.UserType == Netotik.Domain.Entity.UserType.Client) ? MVC.Client.Home.Index() : MVC.Home.Index();
    }
    else if (User.Identity.IsAuthenticated)
    {
        user = Html.CurrentUser();
        _actionResult = (user.UserType == Netotik.Domain.Entity.UserType.UserAdmin) ? MVC.Admin.Home.Index() :
    (user.UserType == Netotik.Domain.Entity.UserType.UserReseller) ? MVC.Reseller.Home.Index() :
    (user.UserType == Netotik.Domain.Entity.UserType.UserRouter) ? MVC.MyRouter.Home.Index() :
    (user.UserType == Netotik.Domain.Entity.UserType.Client) ? MVC.Client.Home.Index() : MVC.Home.Index();
    }

}



<a id="dropdown-flag" href="index.html#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle nav-link">
    <img class="flag-lang" src="~/Content/images/flags/@lang.FlagImageFileName" width="16" height="11" alt="lang" />
    <span class="selected-language">@lang.Name</span>
</a>
<div aria-labelledby="dropdown-flag" class="dropdown-menu">
    @foreach (var item in Model.Where(x => x.Id != lang.Id).OrderBy(x => x.DisplayOrder))
    {

        <a class="dropdown-item" href="@Url.Action(_actionResult.AddRouteValue("lang" ,item.UniqueSeoCode))">
            <img class="flag-lang" src="~/Content/images/flags/@item.FlagImageFileName" width="16" height="11" alt="lang" />
            @item.Name
        </a>

    }

</div>

<script type="text/javascript">
        CKEDITOR_Lang='@lang.LanguageCulture';
</script>