
<table class="table table-striped table-bordered table-hover zero-configuration" id="grid">
    <thead>
        <tr>
            <th width="3%">#</th>
            <th width="23%">@Captions.Name</th>
            <th width="24%">@Captions.Email</th>
            <th width="40%">@Captions.Tel</th>
            <th width="10%"></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>