@model IList<Netotik.ViewModels.Identity.UserCompany.CompanyList>
@{
    ViewBag.Title = Netotik.Resources.Captions.UsersList;
}
<section id="configuration">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <a href="@Url.Action(MVC.Reseller.Company.Create())" class="btn btn-social width-150 btn-instagram"><span class="icon-person-add font-medium-4"></span>@Netotik.Resources.Captions.NewUser</a>
                </div>

                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        @Html.Partial(MVC.Reseller.Company.Views._Table, Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section DownScript{

    <script type="text/javascript">
        $(function () {
            var table = $('#grid').dataTable({
                "order": [[1, 'asc']],
                "iDisplayLength": 10,
                "bProcessing": true,
                "bStateSave": true,
                "bFilter": true,
                "aLengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                "bAutoWidth": true,
                "oLanguage": {
                    "sUrl": "/Content/js/plugins/tables/datatable/dataTables.persian.txt"
                }
            });
        });
    </script>
}

